# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/Flutter/Flutter.podspec
frontend/ios/.generated/
frontend/android/local.properties
frontend/android/app/libs/
frontend/.idea/
frontend/.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
